html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

:root {
  --grey: #ccc;
  --light-grey: #eee;
  --dark-grey: #333;
  --yellow: #fffcb1;
  --yellowLight: #fffdd0;
  --yellowDark: #b0b03d;
  --orange: #ffd79f;
  --orangeLight: #ffe6c2;
  --orangeDark: #ffbf66;
}